/*
Error: Invalid CSS after "h1,h2,h3,h4,h5,h6": expected selector or at-rule, was "{"
        on line 38 of main.scss

33: 
34:     $iphone4-tablet: "only screen and (min-device-width: 320px) and (max-device-width: 1024px)";
35: 
36:     $laptop: "screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 1) "
37: 
38: h1,h2,h3,h4,h5,h6{
39:   font-family: #{$cafe};
40: }
41: p{
42:   font-family: courier;
43: }

Backtrace:
main.scss:38
/Library/Ruby/Gems/2.3.0/gems/sass-3.5.3/lib/sass/scss/parser.rb:1278:in `expected'
/Library/Ruby/Gems/2.3.0/gems/sass-3.5.3/lib/sass/scss/parser.rb:1208:in `expected'
/Library/Ruby/Gems/2.3.0/gems/sass-3.5.3/lib/sass/scss/parser.rb:42:in `parse'
/Library/Ruby/Gems/2.3.0/gems/sass-3.5.3/lib/sass/engine.rb:414:in `_to_tree'
/Library/Ruby/Gems/2.3.0/gems/sass-3.5.3/lib/sass/engine.rb:389:in `_render_with_sourcemap'
/Library/Ruby/Gems/2.3.0/gems/sass-3.5.3/lib/sass/engine.rb:307:in `render_with_sourcemap'
/Library/Ruby/Gems/2.3.0/gems/sass-3.5.3/lib/sass/exec/sass_scss.rb:391:in `run'
/Library/Ruby/Gems/2.3.0/gems/sass-3.5.3/lib/sass/exec/sass_scss.rb:63:in `process_result'
/Library/Ruby/Gems/2.3.0/gems/sass-3.5.3/lib/sass/exec/base.rb:52:in `parse'
/Library/Ruby/Gems/2.3.0/gems/sass-3.5.3/lib/sass/exec/base.rb:19:in `parse!'
/Library/Ruby/Gems/2.3.0/gems/sass-3.5.3/bin/sass:13:in `<top (required)>'
/usr/bin/sass:23:in `load'
/usr/bin/sass:23:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"h1,h2,h3,h4,h5,h6\": expected selector or at-rule, was \"{\"\A         on line 38 of main.scss\A \A 33: \A 34:     $iphone4-tablet: \"only screen and (min-device-width: 320px) and (max-device-width: 1024px)\";\A 35: \A 36:     $laptop: \"screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 1) \"\A 37: \A 38: h1,h2,h3,h4,h5,h6{\A 39:   font-family: #{$cafe};\A 40: }\A 41: p{\A 42:   font-family: courier;\A 43: }"; }
