@font-face {
  font-family: 'courier-prime';
  src: url(../fonts/courier-prime/Courier-Prime.ttf); }
h1, h2, h3, h4, h5, h6 {
  font-family:  'courier-prime', courier; }

p {
  font-family: courier; }

.no-pad {
  padding: 0;
  overflow: hidden; }

/* ==============  SPACERS  =============== */
.spacer30 {
  width: 100%;
  height: 30px; }

.spacer10 {
  width: 100%;
  height: 10px; }

.spacer75 {
  width: 100%;
  height: 75px; }

.spacer300 {
  width: 100%;
  height: 300px; }

/* ===========  NAVIGATION  ========== */
.main-nav {
  width: 100%;
  height: 200px;
  text-transform: uppercase;
  overflow-x: hidden;
  left: 13%; }
  @media only screen and (min-device-width: 320px) and (max-device-width: 812px) {
    .main-nav {
      height: 80px; } }
  @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
    .main-nav {
      height: 200px; } }
  .main-nav #hamburger:active {
    filter: invert(100); }
  .main-nav .col-md-2 {
    position: relative;
    height: 200px;
    overflow-x: hidden; }
    .main-nav .col-md-2 a {
      color: #474747; }
      .main-nav .col-md-2 a h4 {
        position: absolute;
        top: 50%;
        left: 50%;
        font-size: 20px;
        text-align: center;
        transform: translate(-50%, -50%); }
    .main-nav .col-md-2 a:hover {
      text-decoration: none;
      color: #824E00; }
  @media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 1) {
    .main-nav .col-xs-6:not(.col-md-2) {
      display: none; }
    .main-nav .mob-div-nav {
      display: none; } }
  @media only screen and (min-device-width: 320px) and (max-device-width: 812px) {
    .main-nav .col-xs-6 {
      height: 80px; } }
  @media only screen and (min-device-width: 320px) and (max-device-width: 812px) and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
    .main-nav .col-xs-6 {
      height: 200px; } }

.carousel-caption {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  padding: 20px; }

.carousel-inner img {
  filter: blur(2px); }

@media only screen and (min-device-width: 320px) and (max-device-width: 812px) {
  .carousel-indicators {
    bottom: -10px;
    z-index: 1; }
    .carousel-indicators li {
      border-color: lightgray;
      background-color: rgba(0, 0, 0, 0); }
      .carousel-indicators li.active {
        border-color: lightgray;
        background-color: lightgray; }

  .carousel-caption {
    padding: 40px;
    width: 100vw;
    height: 100%;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%; }

  .carousel-inner img {
    filter: blur(2px); } }
/* ============  GALLERY  ========== */
@media only screen and (min-device-width: 320px) and (max-device-width: 1024px) {
  .gallery {
    text-align: center; } }
.gallery h3 {
  text-transform: uppercase;
  font-size: 20px; }
.gallery img {
  width: 92%; }
.gallery hr {
  border-color: #949494;
  border-style: dotted;
  width: 92%;
  position: relative;
  left: -4%; }
@media only screen and (min-device-width: 320px) and (max-device-width: 1024px) {
  .gallery hr {
    left: 0; } }
.gallery a {
  color: #824E00;
  font-family: courier; }
  .gallery a:hover {
    color: gray;
    text-decoration: none;
    cursor: pointer; }
@media only screen and (min-device-width: 320px) and (max-device-width: 1024px) {
  .gallery .col-md-4 {
    margin-bottom: 50px; } }

/* ==========  GENERAL STYLES  =========== */
.invertColors {
  filter: invert(100); }

.links {
  width: 140px; }
  @media only screen and (min-device-width: 320px) and (max-device-width: 1024px) {
    .links {
      display: none; } }

.logo {
  width: 93%;
  position: absolute; }
  @media only screen and (min-device-width: 320px) and (max-device-width: 812px) {
    .logo {
      width: 34%; } }

hr {
  border-color: #616161; }

.txt-centered {
  text-align: center; }

.social .col-md-4 {
  height: 100px;
  text-align: center; }
  .social .col-md-4 i {
    color: gray;
    margin-right: 20px;
    position: relative;
    top: 50%; }
    .social .col-md-4 i:hover {
      cursor: pointer; }
  .social .col-md-4 a:hover {
    text-decoration: none; }
  .social .col-md-4 a:active {
    text-decoration: none; }

/* ============  MEDIA QUERIES  ============== */
@media only screen and (min-device-width: 320px) and (max-device-width: 1024px) {
  .spacer10 {
    display: none; }

  .container-fluid .row .spacer30 {
    display: none; }

  .mob-div-nav {
    display: none;
    height: 100%;
    width: 100%;
    position: fixed;
    left: 0;
    right: 0;
    top: 79px;
    z-index: 2;
    background-color: rgba(255, 255, 255, 0.96);
    text-align: center; } }
  @media only screen and (min-device-width: 320px) and (max-device-width: 1024px) and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
    .mob-div-nav {
      top: 200px; } }

@media only screen and (min-device-width: 320px) and (max-device-width: 1024px) {
  .mob-div-lnk {
    z-index: 3;
    color: #474747;
    text-transform: uppercase; }
    .mob-div-lnk:hover {
      text-decoration: none; }
    .mob-div-lnk:active {
      color: #824E00;
      text-decoration: none; }
    .mob-div-lnk:visited {
      color: #824E00;
      text-decoration: none; }

  .logo {
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translate(-50%, -50%); } }
@media only screen and (min-device-width: 320px) and (max-device-width: 812px) and (orientation: landscape) {
  .logo {
    width: 18%;
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translate(-50%, -50%); }

  .mob-div-nav br {
    display: none; } }
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  .main-nav .col-xs-6:not(.col-md-2) {
    display: none; }

  .logo {
    position: absolute;
    top: 50%;
    left: 54%;
    transform: translate(-50%, -50%); }

  .mob-div-nav {
    display: none; }

  #hamburger {
    display: none; }

  .links {
    display: block; } }
@media only screen and (min-device-width: 1024px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
  .main-nav .col-xs-6:not(.col-md-2) {
    display: none; }

  .logo {
    position: absolute;
    top: 50%;
    left: 54%;
    transform: translate(-50%, -50%); }

  .mob-div-nav {
    display: none; }

  #hamburger {
    display: none; }

  .links {
    display: block; } }
@media only screen and (min-device-width: 1366px) and (max-device-width: 1366px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
  .main-nav .col-xs-6:not(.col-md-2) {
    display: none; }

  .logo {
    position: absolute;
    top: 50%;
    left: 54%;
    transform: translate(-50%, -50%);
    width: 82%; }

  .mob-div-nav {
    display: none; }

  #hamburger {
    display: none; }

  .links {
    display: block; } }

/*# sourceMappingURL=main.css.map */
