 @font-face {
  font-family: 'courier-prime';
  src: url(../fonts/courier-prime/Courier-Prime.ttf);
}

$centered: "position:absolute; transform:translate(-50%,-50%); top:50%; left:50%;";

$cafe: " 'courier-prime', courier";

 // =============  COLORS  ===============
 $coffee: #824E00;
      // ----------- Blacks ---------

      $black: #474747;
      $dark-black: darken($black, 10%);
      $light-black: lighten($black, 10%);
      $lighter-black: lighten($black, 30%);

 // ===============  DEVICE SIZES  ===============
    $tablet-portrait: "only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1)";

    $iphone4-4s: "only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2)";

    $iphone5-5s-5c-se : "only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2)";

    $iphone6-6s-7-8: "only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2)";

    $iphone6p-7p-8p: "only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3)";

    $iphone-X: "only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3)";

    $iphone4-x: "only screen and (min-device-width: 320px) and (max-device-width: 812px)";


h1,h2,h3,h4,h5,h6{
  font-family: #{$cafe};
}
p{
  font-family: courier;
}
.no-pad{
  padding: 0;
  overflow: hidden;
}
 /* ==============  SPACERS  =============== */
.spacer30{
  width:100%;
  height:30px;
}
.spacer10{
  width:100%;
  height: 10px;
}
.spacer75{
  width: 100%;
  height:75px;
}
.spacer300{
  width:100%;
  height: 300px;
}

 /* ===========  NAVIGATION  ========== */
.main-nav{
  width:100%;
  height:200px;
  @media #{$iphone4-x}{
    height:80px;
  }
  text-transform: uppercase;
  overflow-x: hidden;
  left:10%;
  .col-md-2{
    position: relative;
    height:200px;
    // width:160px;
    overflow-x: hidden;
    @media #{$iphone4-x}{
      .col-xs-6{
        height:80px;
      }
    }
    a{
      color:#474747;

      h4{
        position: absolute;
        top:50%;
        left:50%;
        font-size: 20px;
        text-align: center;
        transform: translate(-50%,-50%);
      }
    }
    a:hover{
      text-decoration: none;
      color:$coffee;
    }

  }

}
 /* ============  GALLERY  ========== */
.gallery{
  h3{
    text-transform: uppercase;
    font-size: 20px;
  }
  img{
    width:92%;
  }
  hr{
    border-color: $lighter-black;
    border-style: dotted;
    width: 92%;
    position: relative;
    left: -4%;
    // margin-bottom: 0px;
  }
  a{
    color: $coffee;
    font-family: courier;

    &:hover{
      color:gray;
      text-decoration: none;
      cursor: pointer;
    }
  }
}

 /* ==========  GENERAL STYLES  =========== */

.carousel-caption{
  background-color: rgba(0,0,0,0.34);
  padding:20px;
}
.links{
  width:140px;
  @media #{$iphone4-x}{
    display: none;
  }
}
.logo{
  width: 93%;
  @media #{$iphone4-x}{
    width:30%;
  }
  position: absolute;
  // top:50%;
  // transform: translate(-0%,7%);
  }
hr{
  border-color: $light-black;
}

.txt-centered{
  text-align: center;
}
.social{
  .col-md-4{
    height:100px;
    text-align: center;
    i{
      // display: inline;
      color:gray;
      margin-right:20px;
      position: relative;
      top:50%;

      &:hover{
        cursor: pointer;
      }
    }
  }

}

 /* ============  MEDIA QUERIES  ============== */

 @media #{$iphone4-x} {
   ;
 }
